---
import Layout from "../layouts/Layout.astro";
import menu from "../icons/header/menu.svg";
import headerLogo from "../icons/logos/header_logo.svg";
import { Icon } from "../shared/Icon";
import "../styles/global.scss";
import pin from "../icons/header/locale_ping.svg";
import arrowDown from "../icons/header/ic_arrow_down.svg";
import arrowLeft from "../../public/arrow-left.svg";
import eventoIMG from "../../public/Product.png";
import message from "../../public/message.svg";
import user from "../../public/user.svg";
import message2 from "../../public/message2.svg";
import calendar from "../../public/calendar-tick.svg";
import pin2 from "../../public/pin2.svg";
import { UserPhotos } from "../components/UserPhoto";
import { OptionsMenu } from "../components/OptionsMenu";
import twitter from "../icons/footer/twitter.svg";
import instagram from "../icons/footer/instagram.svg";
import tiktok from "../icons/footer/tiktok.svg";
import logoBranca from "../icons/logos/logo_white.svg";
---

<Layout title="Beplauze">
  <main class="flex flex-col w-full tablet:w-8/12 tablet:mx-auto">
    <header class="flex items-center justify-between mx-4 mt-5">
      <div class="flex items-center gap-3.5">
        <Icon icon={menu} alt="Beplauze logo" width={15} height={15} />
        <Icon
          icon={headerLogo}
          alt="Beplauze logo"
          width={104.8}
          height={26.35}
        />
      </div>
      <div class="flex items-center gap-1">
        <Icon icon={pin} alt="Beplauze logo" width={15} height={15} />
        <p>Rio de Janeiro</p>
        <Icon icon={arrowDown} alt="Beplauze logo" width={15} height={15} />
      </div>
    </header>
    <div class="flex items-center justify-between my-4.5 gap-2 mx-4">
      <Icon icon={arrowLeft} alt="Voltar" width={15} height={15} />
      <span class="text-title">
        <span class="font-bold">Fernanda,</span>
        <span class="font-light">32</span>
      </span>
      <OptionsMenu client:only="react" />
    </div>
    <div class="grid grid-cols-1 tablet:grid-cols-2 mx-4 gap-4">
      <div class="tablet:visible">
        <UserPhotos client:only="react" />
        <button
          class="flex items-center gap-2 rounded-3xl h-10 justify-center w-full mt-4.5 bg-red tablet:invisible"
        >
          <Icon
            icon={message}
            alt="Enviar mensagem"
            width={14}
            height={13.99}
          />
          <p class="text-white text-base font-regular">Enviar mensagem</p>
        </button>
      </div>
      <div class="tablet:visible flex flex-col tablet:mt-0">
        <div class="flex items-center gap-1.5 w-full mt-4.5 tablet:mt-0">
          <Icon icon={message2} alt="Beplauze logo" width={15} height={15} />
          <p>“Gosto de festas e música boa!”</p>
        </div>
        <hr class="border-gray w-full my-5" />
        <div class="flex flex-col items-center w-full">
          <div class="flex items-center py-2 w-full gap-1.5">
            <Icon icon={user} alt="Beplauze logo" width={15} height={15} />
            <p>Mulher</p>
          </div>
          <div class="flex items-center justify-start py-2 gap-1.5 w-full">
            <Icon icon={pin2} alt="Beplauze logo" width={15} height={15} />
            <p>Rio de Janeiro</p>
          </div>
        </div>
        <hr class="border-gray w-full my-5" />
        <section
          class="flex items-center w-full flex-col tablet:py-0"
        >
          <div class="bg-purple-500 flex gap-1.5 items-start ml-0 mr-auto mb-4">
            <Icon icon={calendar} alt="Beplauze logo" width={15} height={15} />
            <p>Eventos confirmados</p>
          </div>
          <div class="flex items-center gap-2 ml-0 mr-auto mt-2 ">
            <img
              src={eventoIMG.src}
              alt="Beplauze logo"
              width={100}
              height={100}
            />
            <img
              src={eventoIMG.src}
              alt="Beplauze logo"
              width={100}
              height={100}
            />
            <img
              src={eventoIMG.src}
              alt="Beplauze logo"
              width={100}
              height={100}
            />
          </div>
        </section>
      </div>
    </div>
    <p
        class="font-bold text-lg text-accent mt-8.5 mb-8 mx-auto"
      >
        Voltar a home
      </p>
  </main>
  <footer
    class="bg-black text-white flex flex-col items-center justify-center gap-4"
  >
    <Icon
      icon={logoBranca}
      alt="Logo Beplauze"
      width={99}
      height={26.35}
      className="mt-8"
    />
    <section class="flex gap-6 mt-6 mb-5">
      <a href="https://twitter.com/beplauze">
        <Icon icon={twitter} alt="Twitter" width={15} height={15} />
      </a>
      <a href="https://www.tiktok.com/@beplauze?_t=8e5uOCFhatX&_r=1">
        <Icon icon={tiktok} alt="Tiktok" width={15} height={15} />
      </a>
      <a href="https://www.instagram.com/beplauze.rj/">
        <Icon icon={instagram} alt="Instagram" width={15} height={15} />
      </a>
    </section>
    <div class="flex flex-col gap-4 items-center text-tag underline">
      <a href="https://www.beplauze.com/rj/politica-privacidade">
        {" "}
        Politica de privacidade{" "}
      </a>
      <a href="https://www.beplauze.com/rj/termos-condicoes">
        {" "}
        Termos e condições{" "}
      </a>
    </div>
    <hr class="border-white w-11/12 my-4" />
    <p class="text-tag">© Copyright 2023 Beplauze</p>
    <p class="text-tag text-center mb-9 gap-3">
      CNPJ: 00.394.460/0058-87 <br /> Rua Timoteo da costa, 1033 Leblon - Rio de
      janeiro
      <br /> beplauze@beplauze.com <br /> Telefone: 21 9898 9928
    </p>
  </footer>

  <style lang="scss">
    body {
      background-color: #f5f5f5;
    }
  </style>
</Layout>
